<html>
    <head>
        <title>Romio's blog</title>
    </head>
    <body>
    <div>
        <h1><a href="/">Django hot girls Blog</a></h1>
    </div>

    <div>
        <p>date: 22.02.2022, 22:22</p>
        <h2><a href="">My first blog</a></h2>
        <p>Hi pussy boys. Mommy is here!!!</p>
    </div>

    <div>
        <p>date: 12.12.2012, 12:12</p>
        <h3><a href="">Ma second blog</a></h3>
        <p>look at me, fucking bitches ^_^</p>
    </div>
    <p>Hi there!</p>
	<p>It works!</p>
    </body>
</html>
